.prestige-upgrade-text {
  display: inline-block;
  font-size: 12px;
  color: #000000;
  line-height: 1.2;
  pointer-events: none;
  font-weight: bold;
  white-space: normal;
  word-wrap: normal;
}

.prestige-upgrade-parent {
  box-sizing: border-box;
  font-size: 0;
  text-align: center;
}

.prestige-upgrade-container {
  display: flex;
  align-items: unsafe center;
  justify-content: unsafe center;
  width: 78px;
  height: 1px;
}

path {
  fill: $progressBarColor !important;
  stroke: $progressBarColor !important;
}


ellipse {
  fill: $textColorMain;
}

ellipse:hover {
  fill: #4bdb2e;
}

ellipse.prestige-upgrade-bought {
  fill: #4bdb2e;
}

ellipse.prestige-upgrade-locked {
  fill: #0e1f45;
}
