.barRoot{
    display: flex;
    height:100%;
    align-items: center;
    justify-content: space-evenly;
}

.monthLabel {
    font-size:2rem;
    width:15%;
    float:left;
}


.progressBarOuter {
    width:80%;
    height:25px;
    border:1px solid black;
    border-radius: 10px;
    float:right;
    clear:both;
}

.progressBarInner {
    background-color: $progressBarColor;
    height:100%;
    // transition: width .3s;
    border-radius:10px;
}

