<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Incremental game</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.6.3/css/foundation.min.css"
        integrity="sha512-dMUQinc1gbNb95AFtKtP4q/g56T8r9oDxlWy0hrHyzfUbMq/vQztAqaR/FDY/bY0R1Ikc30aq94jyQH2Ix++ug=="
        crossorigin="anonymous" />

</head>

<body id="body">
    <!-- Load all templates-->
    <%= require('html-loader!./engine/features/settings/booleanSettingTemplate.html') %>
    <%= require('html-loader!./features/minigames/marketing/campaignOfferTemplate.html') %>
    <%= require('html-loader!./engine/upgrades/upgradeTemplate.html') %>
    <%= require('html-loader!./features/wallet/currencyTemplate.html') %>


    <div class="tv">
        <div id="term">
            <div class="currency-bar">
                <%= require('html-loader!./features/wallet/wallet.html') %>
            </div>

            <div class="progress-bar">
                <!-- main progress bar display -->
                <%= require('html-loader!./features/yeartracker/yearTracker.html') %>
            </div>

            <div id="menu">
                <div id="jobsPanel-label" class="nav activeNav" data-target="jobsPanel">Jobs</div>
                <div id="reportPanel-label" class="nav" data-target="reportPanel">Report</div>
                <div class="nav" data-target="skillTreePanel">Skill Tree</div>
                <div class="nav" data-target="settingsPanel">Settings</div>
            </div>

            <div id="jobsPanel" class="panel activePanel">

                <!-- ko if: miniGames.bugFixing.canAccess() -->
                <div class='minigame'><%= require('html-loader!./features/minigames/bugfixing/bugFixing.html') %></div>
                <!-- /ko -->
                <!-- ko ifnot: miniGames.bugFixing.canAccess() -->
                <div class='minigame'><%= require('html-loader!./features/minigames/locked/locked.html') %></div>
                <!-- /ko -->

                <!-- ko if: miniGames.marketing.canAccess() -->
                <div class='minigame'><%= require('html-loader!./features/minigames/marketing/marketing.html') %></div>
                <!-- /ko -->
                <!-- ko ifnot: miniGames.marketing.canAccess() -->
                <div class='minigame'><%= require('html-loader!./features/minigames/locked/locked.html') %></div>
                <!-- /ko -->


                <!-- ko if: miniGames.balancing.canAccess() -->
                <div class='minigame'><%= require('html-loader!./features/minigames/balancing/balancing.html') %></div>
                <!-- /ko -->
                <!-- ko ifnot: miniGames.balancing.canAccess() -->
                <div class='minigame'><%= require('html-loader!./features/minigames/locked/locked.html') %></div>
                <!-- /ko -->

                <!-- ko if: miniGames.design.canAccess() -->
                <div class='minigame'><%= require('html-loader!./features/minigames/design/design.html') %></div>
                <!-- /ko -->
                <!-- ko ifnot: miniGames.design.canAccess() -->
                <div class='minigame'><%= require('html-loader!./features/minigames/locked/locked.html') %></div>
                <!-- /ko -->


            </div>

            <div id="reportPanel" class="panel hiddenPanel">
                <%= require('html-loader!./features/minigames/EndOfYearReport/EndOfYearReport.html') %>
            </div>

            <div id="skillTreePanel" class="panel hiddenPanel">
                <%= require('html-loader!./features/prestige/skillTree.html') %>
            </div>

            <div id="settingsPanel" class="panel hiddenPanel">
                <%= require('html-loader!./engine/features/settings/settings.html') %>
                <button data-bind="click: () => save()">Save</button>
                <button data-bind="click: () => deleteSave()">Delete save (no confirmation)</button>
            </div>
        </div>
    </div>
    <!-- ko if: settings.getSetting('crt-style').value -->
    <div class="flicker"></div>
    <div class="scanlines"></div>
    <!-- /ko -->
    </div>
</body>

</html>
