<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Incremental game</title>
</head>

<body id="body">
<!-- Load all templates-->
<%= require('html-loader!./engine/features/settings/booleanSettingTemplate.html') %>


    <div class="tv">
        <div id="term">
            <div id="root" class="grid-container">
                <div class="currency-bar">
                    <%= require('html-loader!./features/wallet/wallet.html') %>
                </div>
                <div class="prestige-bar">
                    <button data-bind="click: () => save()">Save</button>
                    <button data-bind="click: () => deleteSave()">Delete save (no confirmation)</button>
                    <%= require('html-loader!./engine/features/settings/settings.html') %>

                </div>
                <div class="progress-bar">
                    <%= require('html-loader!./features/yeartracker/yearTracker.html') %>
                </div>
                <div class="game-branches">
                    <!-- <%= require('html-loader!./features/minigames/dummy/dummy.html') %> -->
                    <%= require('html-loader!./features/minigames/marketing/marketing.html') %>

                    <h2>Gamestate: <span data-bind="text: state"> </span>!</h2>

                </div>
            </div>
        </div>
        <!-- ko if: settings.getSetting('crt-style').value -->
            <div class="flicker"></div>
            <div class="scanlines"></div>
        <!-- /ko -->

    </div>



</body>

</html>
