<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>GameHop</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.6.3/css/foundation.min.css"
        integrity="sha512-dMUQinc1gbNb95AFtKtP4q/g56T8r9oDxlWy0hrHyzfUbMq/vQztAqaR/FDY/bY0R1Ikc30aq94jyQH2Ix++ug=="
        crossorigin="anonymous" />

</head>

<body id="body">
    <!-- Load all templates-->
    <%= require('html-loader!./engine/features/settings/booleanSettingTemplate.html') %>
    <%= require('html-loader!./features/minigames/marketing/campaignOfferTemplate.html') %>
    <%= require('html-loader!./engine/upgrades/upgradeTemplate.html') %>
    <%= require('html-loader!./features/wallet/currencyTemplate.html') %>


    <div class="tv">
        <div id="term">
            <div class="currency-bar">
                <%= require('html-loader!./features/wallet/wallet.html') %>
            </div>

            <div class="progress-bar">
                <!-- main progress bar display -->
                <%= require('html-loader!./features/yeartracker/yearTracker.html') %>
            </div>

            <div id="menu">
                <div id="jobsPanel-label" class="nav activeNav" data-target="jobsPanel">Jobs</div>
                <div id="reportPanel-label" class="nav" data-target="reportPanel">Report</div>
                <div class="nav" data-target="skillTreePanel">Prestige Shop</div>
                <div class="nav" data-target="settingsPanel">Settings</div>
            </div>

            <div id="jobsPanel" class="panel activePanel">

                <!-- ko if: miniGames.bugFixing.canAccess() -->
                <div class='minigame'><%= require('html-loader!./features/minigames/bugfixing/bugFixing.html') %></div>
                <!-- /ko -->
                <!-- ko ifnot: miniGames.bugFixing.canAccess() -->
                <div class='minigame'><%= require('html-loader!./features/minigames/locked/locked.html') %></div>
                <!-- /ko -->


                <!-- ko if: miniGames.balancing.canAccess() -->
                <div class='minigame'><%= require('html-loader!./features/minigames/balancing/balancing.html') %></div>
                <!-- /ko -->
                <!-- ko ifnot: miniGames.balancing.canAccess() -->
                <div class='minigame'><%= require('html-loader!./features/minigames/locked/locked.html') %></div>
                <!-- /ko -->


                <!-- ko if: miniGames.marketing.canAccess() -->
                <div class='minigame'><%= require('html-loader!./features/minigames/marketing/marketing.html') %></div>
                <!-- /ko -->
                <!-- ko ifnot: miniGames.marketing.canAccess() -->
                <div class='minigame'><%= require('html-loader!./features/minigames/locked/locked.html') %></div>
                <!-- /ko -->


                <!-- ko if: miniGames.design.canAccess() -->
                <div class='minigame'><%= require('html-loader!./features/minigames/design/design.html') %></div>
                <!-- /ko -->
                <!-- ko ifnot: miniGames.design.canAccess() -->
                <div class='minigame'><%= require('html-loader!./features/minigames/locked/locked.html') %></div>
                <!-- /ko -->


            </div>

            <div id="reportPanel" class="panel hiddenPanel">
                <%= require('html-loader!./features/minigames/EndOfYearReport/EndOfYearReport.html') %>
            </div>

            <div id="skillTreePanel" class="panel hiddenPanel">
                <%= require('html-loader!./features/prestige/skillTree.html') %>
            </div>

            <div id="settingsPanel" class="panel hiddenPanel">
                <%= require('html-loader!./engine/features/settings/settings.html') %>
                <button data-bind="click: () => save()">Save</button>
                <button data-bind="click: () => deleteSave()">Delete save (no confirmation)</button>

                <%= require('html-loader!./credits.html') %>

            </div>
        </div>
    </div>
    <!-- ko if: settings.getSetting('crt-style').value -->
    <div class="flicker"></div>
    <div class="scanlines"></div>
    <!-- /ko -->
    </div>


    <!-- MODALS -->

    <div class='customModal' id="introModal">
        <h2>Welcome to GameHop!</h2>
        <p>Your new role as Budget Master Battle Royale Supervisor is simple!
            Spend your money by the end of each year or lose it from your budget.
            You have four teams that will help you do this automatically as time goes on.
            But it is up to you how to best stretch every dollar.
        </p>
        <p>Our executives have opened up an expirimental prestige shop just for you to tinker around with. Check it out sometime.</p>
        <p>Can you make this company efficient enough to run itself on a shoestring budget?</p>
        <p>You win the game when you complete a year with a budget of $0</p>
        <p>Let’s get you started and introduce you to your first team, our very own GameHop BugHunters!</p>
        <button data-bind="click: () => {hideModal('introModal'); showModal('debugModal')}">Begin the work!!</button>
    </div>

    <div class='customModal' id="debugModal">
        <h2>BugHunters</h2>
        <p>The BugHunters team role is simple.</p>
        <p>They have a reddit feed from r/softwaregore of all the bugs people find constantly flowing in.
        They take their mighty Hammers of Code and bring down the wrath onto the bugs.
        Watch them carefully as they don’t always stay in their own swimlane.</p>
        <p>If you need to put them on track, use the up and down arrow keys to jolt the BugHunters to the right lane.</p>
        <p>Be careful, that jolt costs money since cattle prods are not cheap!</p>
        <button data-bind="click: () => {hideModal('debugModal'); start()}">Begin the work!!</button>
    </div>

    <div class='customModal' id="marketModal">
        <h2>Marketeers</h2>
        <p>The Marketeers team is all about the PR. Not pull requests, but public relations! </p>
        <p>They brainstorm ideas for the company and suggest campaigns for you to dump money on to gain the company some more fame, which attracts <span style="text-decoration: line-through;">slaves</span> employees and patrons! </p>
        <p></p>Just click start the campaigns you like and cancel on the ones you don’t.</p>
        <button data-bind="click: () => {hideModal('marketModal'); startNewYear()}">Begin the work!!</button>
    </div>

    <div class='customModal' id="devModal">
        <h2>DevoDevs</h2>
        <p>The DevoDevs are the real blackbox of the company.</p>
        <p>We just constantly make sure they have the right amount of coffee to keep them focused.
        We give them caffeine and hold their razor keyboards hostage and they give us completed code! </p>
        <p>When you see their focus sliding off, use the left and right arrow keys to send them our own GameHop Patent Pending Pill blend of Caffeine, Monstar Energy, and Soda Tarts that we like to call F.0.0.D.
        F.0.0.D used to stand for what's in it, but our executive team changed that up and did not want to spend money on re-labeling old stock.</p>

        <button data-bind="click: () => {hideModal('devModal'); startNewYear()}">Begin the work!!</button>
    </div>

    <div class='customModal' id="designModal">
        <h2>Design</h2>
        <p>The Design team is basically a bunch of baristas from the local AstriskBucks with Wacon pens glued to their hands.</p>
        <p>They like to pump out a bunch of different designs for you to review.
        You simply have to click what best title fits their design.</p>
        <p>Remember, they are designers, not managers like you so their ability to read and write, even speak, has been diminished purposefully with science to move all of those skill points to drawing.</p>
        <p>We didn’t even bother to give them a cool name as they can't complain about it anyways!</p>

        <button data-bind="click: () => {hideModal('designModal'); startNewYear()}">Begin the work!!</button>
    </div>

    <div class='customModal' id="winModal">
        <h2>Holy Crap!</h2>
        <p>Honestly, we did not think you could do it. The last time we tried this with the previous guy, it took wayy longer and he eventually was sent back to <span style="text-decoration: line-through;">the dungeon</span> his home.</p>
        <p>Because we really didn't think you could do it, you don't really get a reward or anything other than a nice pat on the back.</p>
        <p>Congrats again - GameHop</p>
        <br><br>
        <p>You have completed the game in <span data-bind="text: yearTracker.currentYear"></span> years!</p>
        <p>But can you do it faster?</p>
        <button data-bind="click: () => {deleteSave(); location.reload();}">Delete save and restart</button>


    </div>

</body>

</html>
